*.lo
*.mod
*.o
*.a
*.so
*.dylib
*.pyc
*.pyo
Makefile
Makefile.in
build
build_mac
aclocal.m4
autom4te.cache
build-aux
*.swp
defbuild
*~
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
config.h
config.log
config.status
configure
configure.doc
stamp-h1
libtool
.deps
*.gz
*.tgz
/.autotools
/.cproject
/.project
/.settings/
doxygen
python/test/log.txt
python/Potjans_2014/data/
python/Potjans_2014_tmp/data/
python/mpi_mem_check/test_*.dat
python/mpi_mem_check/req_mem_*.dat
python/mpi_mem_check/full_*.dat
python/mpi_mem_check/log*.txt
python/mpi_mem_check/report.nsys-rep
.vscode/
